.layout {
  height: 19%;
  width: 48%;
  border-width: 2;
  border-color: #73C4F2;
  border-radius: 10;
  margin: 0.5%;
  padding-top: 10%;
  padding-bottom: 10%;
  horizontal-align: center;
}

.image-layout {
  width: 35%;
  vertical-align: middle;
}
.list-item-image {
  horizontal-align: right;
  width: 80%;
}

.name-stars-layout {
  vertical-align: middle;
  width: 65%;
}

.list-item-label {
  text-align: center;
  text-transform: capitalize;
}

.list-item-label-phone {
  font-size: 20%;
}

.list-item-label-ios-phone-five {
  font-size: 18%;
}

.list-item-label-tablet {
  font-size: 40%;
}
