<StackLayout orientation="horizontal" class="container">
  <StackLayout  class="iconLayout" (tap)="backToHome()">
      <Image src="~/assets/images/icon_forvokids.png" class="back"></Image>
  </StackLayout>
  <StackLayout  class="iconLayout" (tap)="gameService.replay()">
      <Image src="~/assets/images/icon_sound.png" class="repeat"></Image>
  </StackLayout>
</StackLayout>
