.container {
  height: 20%;
  background-image: url("~/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.iconLayout {
  height: 100%;
  width: 50%;
  vertical-align: center;
  margin: 5;
}

Image {
  width: 30%;
}

.back {
  horizontal-align: left;
  margin-left: 15%;
}

.repeat {
  horizontal-align: right;
  margin-right: 15%;
}
