<StackLayout orientation="horizontal">
  <Image [src]="firstStarImage" class="starImage left"></Image>
  <Image [src]="secondStarImage" class="starImage middle"></Image>
  <Image [src]="thirdStarImage" class="starImage right"></Image>
</StackLayout>
