<StackLayout orientation="horizontal" class="list-group-item" padding="2" [class.tablet]="isTablet">
  <StackLayout orientation="vertical"
   class="title"
   [class.title-ios-phone-five]="deviceIsIOSPhoneFive()"
   verticalAlignment="center"
  >
    <Label [text]="stat?.title"></Label>
    <Label *ngIf="stat?.subtitle" [text]="stat?.formattedSubtitle"></Label>
  </StackLayout>
  <StackLayout orientation="horizontal" class="list-group-item stat-progress">
    <StackLayout orientation="horizontal" class="progress-container">
      <StackLayout orientation="horizontal" class="progress" [width]="percentage"></StackLayout>
    </StackLayout>
    <StackLayout orientation="horizontal" class="percentage">
      <Label [text]="percentage"></Label>
    </StackLayout>
  </StackLayout>
</StackLayout>
