<StackLayout  class="container">
  <StackLayout orientation="horizontal" class="headerLayout" (tap)="goToHome()">
      <Image src="~/assets/images/icon_forvokids.png" class="backIcon"></Image>
  </StackLayout>
  <StackLayout orientation="vertical" class="listLayout">
    <GridLayout columns="*, *" rows="auto, auto, auto, auto, auto, auto, auto, auto">
      <app-category-item
        *ngFor="let category of categories$ | async; let i = index"
        [category]="category"
        [i]="i"
        [score]="getScore(category)"
        (next)="goToCategory(category)"
        class="list-item"
      ></app-category-item>
    </GridLayout>
  </StackLayout>
</StackLayout>
