.container {
  height: 100%;
}

.headerLayout {
  height: 20%;
  width: 100%;
  vertical-align: center;
  horizontal-align: left;
  background-image: url("~/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.backIcon {
  width: 15%;
  horizontal-align: left;
  margin-left: 9%;
}

.listLayout {
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
